---
import PostCard from "../PostCard.astro";

const { node } = Astro.props;
---     
 <h1>{node.name} - Archive</h1>

 {node.posts.nodes.map(post => {
    return (
        <PostCard post={post}></PostCard>
    )
})}
