---
import PostCard from "../components/PostCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { homePagePostsQuery } from "../lib/api";

const data = await homePagePostsQuery();
const posts = data.posts.nodes;

---

<MainLayout>
	<main>
		{
			posts.map(post => {
				return (
					<PostCard post={post}></PostCard>
				)
			})
		}
	</main>
</MainLayout>
