---
const { node } = Astro.props;
---     
 <h1>{node.name} - Archive</h1>

 {node.posts.nodes.map(post => {
    return (
        <div>
            <a href={post.uri} >{post.title}</a>
            <p set:html={post.excerpt}></p> 
            <date>{new Date(post.date).toLocaleDateString()}</date>

        </div>
    )
})}
