---

---

<section>
    <h1>Hello, web friend! 🌎 Thanks for visting</h1>
    <p></p>
</section>

<style>
    section {
        box-sizing: border-box;
        min-height: 450px;
        background: linear-gradient(90deg,#0076dc 0%,#7a1ba6 100%);
        border-radius: 10px;
        color: #fff;
        font-size: 2rem;
        padding: 4rem 3rem;
    }
    h1 {
       text-align: center;
       margin: auto;
    }
</style>