---

import { navQuery } from "../lib/api";
const { menu, generalSettings } = await navQuery();

---
<style>
    ul {
        display: flex;
        gap: 1rem;
        padding: 0;
    }
    li {
      list-style-type: none;
      display: inline-flex;
      gap: 1rem;
    }
</style>
<h2>
    <a href="/">{generalSettings.title}</a>
</h2>
<h4>
    {generalSettings.description}
</h4>
<nav>
    <ul>
       {menu.menuItems.nodes.map(menuItem => {
        return (<li>
                    <a href={menuItem.uri || '/'}>{menuItem.label}</a>
                </li>)
       })}
    </ul>
</nav>