---

const {menu, generalSettings} = Astro.props;

---

<header>
    <nav>
        <div>
            <a href="/" class='site-name'>{generalSettings.title}</a>
        </div>
        <ul>
           {menu.menuItems.nodes.map(menuItem => {
            return (<li>
                        <a href={menuItem.uri || '/'}>{menuItem.label}</a>
                    </li>)
           })}
        </ul>
    </nav>
</header>

<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    h2 {
        font-size: 1rem;
    }
    ul {
        display: flex;
        gap: 1rem;
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 100%;
        justify-content: center;
    }
    li {
      list-style-type: none;
      display: inline-flex;
      gap: 1rem;
    }
    .site-name { 
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: none;
    }

    @media (min-width: 600px){
        nav {
            justify-content: space-between;
        }
        ul {
            flex: 0 1 auto;
        }
    }
</style>