---
import SiteNav from "../components/SiteNav.astro"; 
import SiteFooter from "../components/SiteFooter.astro";
const { title } = Astro.props;
// todo: move data fetching to this component from nav

---
<style>
	* {
		box-sizing: border-box;
		--lapis-shade: #0076dc;
		--heliotrope: #7a1ba6; 
		--lapis-gradient: linear-gradient(90deg,var(--lapis-shade) 0%,var(--heliotrope) 100%);
		--bs-font-sans-serif: "Open Sans",sans-serif;
		--eggplant-gradient: linear-gradient(260.85deg,#7e5cef 10.29%,#002838 89.71%);
	}
	body {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	}
	main {
		width:100%;
		max-width: 1024px;
		margin:auto;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<SiteNav></SiteNav>
			<hr>
			<slot></slot>
		</main>
		<SiteFooter></SiteFooter>
	</body>
</html>
